@model UniversidadContoso.Models.Departamento
@{ ViewBag.Title = "Formulario";}
<div class="container" style="margin:10px; background-color:lightgray;border:2px solid black; border-radius:10px; width:30%; display:flex; flex-direction: column">
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CrearDepartamento", "Departamento", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <form>
        <div class="form-group">
            
            <div>
                <label>Titulo:</label>
                <div>
                    @Html.EditorFor(model => model.Titulo_Depto, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>
            <div>
                <label>Descripcion:</label>

                <div>
                    @Html.TextAreaFor(model => model.Descripcion_Depto, 10, 40, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>

            <div>
                <div style="display:flex;flex-direction:row;">
                    <input type="submit" class="btn btn-primary" value="Subir" />
                    @Html.ActionLink("Limpiar", "FormDepto", "Departamento", null, new { @class = "btn btn-danger btn-large" })
                </div>
            </div>
        </div>
    </form>
}</div>